
<section class="wrapper calendar">
  <h1>Calendar</h1>
  <div class="descriptionBox">
    <p>{{lorem | cut:true:480:'...'}}</p>
  </div>
  <div class="s20 clear"></div>
  <div id="calendar" class="calendarBox"></div>
  <div class="calendarEvents">
    <h2>{{lorem | cut:true:80:'...'}}</h2>
    <article>
      <p>{{lorem | cut:true:380:'...'}}</p>
      <p>{{lorem | cut:true:280:'...'}}</p><a>see more</a>
    </article>
    <h2>{{lorem | cut:true:80:'...'}}</h2>
    <article>
      <p>{{lorem | cut:true:380:'...'}}</p>
      <p>{{lorem | cut:true:280:'...'}}</p><a>see more</a>
    </article>
    <h2>{{lorem | cut:true:80:'...'}}</h2>
    <article>
      <p>{{lorem | cut:true:380:'...'}}</p>
      <p>{{lorem | cut:true:280:'...'}}</p><a>see more</a>
    </article>
  </div>
</section>
<div class="clear"></div>
<script>
  $('#calendar').fullCalendar({})
  
  
  
  
  
  
  
</script>