section.wrapper.aboutus
 h1 About us
 div.descriptionBox
  p {{lorem | cut:true:480:' '}}
 article
  img(ph-img="400x240")
  h2 {{lorem | cut:true:50:' '}}
  p {{lorem | cut:true:340:' '}}
  p {{lorem | cut:true:340:' '}}
  p {{lorem | cut:true:340:' '}}
 article
  img(ph-img="400x240")
  h2 {{lorem | cut:true:50:' '}}
  p {{lorem | cut:true:340:' '}}
  p {{lorem | cut:true:340:' '}}
  p {{lorem | cut:true:340:' '}}
 article
  img(ph-img="400x240")
  h2 {{lorem | cut:true:50:' '}}
  p {{lorem | cut:true:340:' '}}
  p {{lorem | cut:true:340:' '}}
  p {{lorem | cut:true:340:' '}}
 article
  img(ph-img="400x240")
  h2 {{lorem | cut:true:50:' '}}
  p {{lorem | cut:true:340:' '}}
  p {{lorem | cut:true:340:' '}}
  p {{lorem | cut:true:340:' '}}
 article
  img(ph-img="400x240")
  h2 {{lorem | cut:true:50:' '}}
  p {{lorem | cut:true:340:' '}}
  p {{lorem | cut:true:340:' '}}
  p {{lorem | cut:true:340:' '}}

