include mixins
section.wrapper.agencyprofile
 h1 agency profile
 div.descriptionBox
  p {{lorem | cut:true:480:'...'}}
 div.s40
 img(ph-img="400x280")
 div.profileItems
  label.labelProfile Organization name:
  div(editable-text="user.name", title="Click for edit", e-placeholder="Organization name"){{ user.name || 'Please write your Organization name' }}
  div.clear.e40
  label.labelProfile E-mail:
  div(editable-text="user.email", title="Click for edit"){{ user.email || 'Please write your E-mail' }}
  div.clear.e40
  label.labelProfile Telephone:
  div(editable-text="user.telephone", title="Click for edit"){{ user.telephone || 'Please write your Telephone' }}
  div.clear.e40
  label.labelProfile Web site:
  div(editable-url="user.website", title="Click for edit"){{ user.website || 'Please write your Web site' }}
  div.clear.e40
  label.labelProfile Twitter:
  div(editable-text="user.twitter", title="Click for edit"){{ user.twitter || 'Please write your Twitter' }}
  div.clear.e40
  label.labelProfile Zip code:
  div(editable-text="user.zipcode", title="Click for edit"){{ user.zipcode || 'Please write your Zip code' }}
  div.clear.e40
 div.profileItemslarge
  label.labelProfile Description:
  div(editable-textarea="user.description", title="Click for edit"){{ user.description || 'Please write your Description' }}
  div.clear.e40
  label.labelProfile Documents:
  div.linkDocuments(title="Click for edit")
   a(href="#", target="_blank") <i class="fa fa-bookmark"></i>{{lorem | cut:true:80:'...'}}
   a(href="#", target="_blank") <i class="fa fa-bookmark"></i>{{lorem | cut:true:80:'...'}}
   a(href="#", target="_blank") <i class="fa fa-bookmark"></i>{{lorem | cut:true:80:'...'}}
   a(href="#", target="_blank") <i class="fa fa-bookmark"></i>{{lorem | cut:true:120:'...'}}
   div.clear
   input(type="file", multiple)
 .s40.clear
 div.contentDirectory
  .sliderBox
   ul.bxslider
    li
     img(ph-img="460x320")
    li
     img(ph-img="460x320")
    li
     img(ph-img="460x320")

  .contentBox
   h2 {{lorem | cut:true:80:'...'}}
   p {{lorem | cut:true:480:'...'}}
   p {{lorem | cut:true:280:'...'}}
   .s20
   h3 Documents
   .s20
   a {{lorem | cut:true:80:'...'}}
   a {{lorem | cut:true:80:'...'}}
  .s20.clear
  .profileTabs
    ul
     li
      a(href='#content1')
       span Proyects
     li
      a(href='#content2')
       span Products
     li
      a(href='#content3')
       span Services
     li
      a(href='#content4')
       span Vacancies
    #content1
     +tabsColumns
    #content2 2
     +tabsColumns
    #content3 3
     +tabsColumns
    #content4 4
     +tabsColumns
//- div.profileTabs
//-  div.tabsItems
//-   a 1
//-   a 2
//-   a 3
//-  div.tabsContainer
//-   div.tabContent
//-    {{lorem | cut:true:480:'...'}}
//-   div.tabContent
//-    {{lorem | cut:true:480:'...'}}
//-   div.tabContent
//-    {{lorem | cut:true:480:'...'}}

script
 $('.bxslider').bxSlider();
script
 var opts = {};
 $(".profileTabs").tabs(opts);


