include mixins
section.wrapper.calendar
 +title('Calendar')
 +descriptionBox
 #calendar.calendarBox
 .calendarEvents
  +accordion
  +accordion
  +accordion
.clear
script.
 $('#calendar').fullCalendar({})







