section.wrapper.directories
 h1 directories
 div.descriptionBox
  p {{lorem | cut:true:480:'...'}}
 div.s40
 form
  div.row
   div.col-md-3
    div.form-group
     label Categories
     select.form-control
      option {{lorem | cut:true:40:''}}
      option {{lorem | cut:true:40:' '}}
      option {{lorem | cut:true:40:' '}}
   div.col-md-3
    div.form-group
     label Agencies
     select.form-control
      option {{lorem | cut:true:40:' '}}
      option {{lorem | cut:true:40:' '}}
      option {{lorem | cut:true:40:' '}}
   div.col-md-3
    div.form-group
     label Location
     select.form-control
      option {{lorem | cut:true:40:' '}}
      option {{lorem | cut:true:40:' '}}
      option {{lorem | cut:true:40:' '}}
   div.col-md-3
    div.form-group
     label Search for Keyword
     input.form-control(type="text", placeholder="Keyword")
 div.s40
 div.columns
  article
   img(ph-img="380x240")
   a.over(href="#agencyprofile")
    h2 {{lorem | cut:true:50:'...'}}
    p {{lorem | cut:true:180:'...'}}
    span <i class="fa fa-plus fa-2x"></i>
  article
   img(ph-img="380x240")
   a.over(href="#agencyprofile")
    h2 {{lorem | cut:true:50:'...'}}
    p {{lorem | cut:true:180:'...'}}
    span <i class="fa fa-plus fa-2x"></i>
  article
   img(ph-img="380x240")
   a.over(href="#agencyprofile")
    h2 {{lorem | cut:true:50:'...'}}
    p {{lorem | cut:true:180:'...'}}
    span <i class="fa fa-plus fa-2x"></i>
 div.s40
 div.columns
  article
   img(ph-img="380x240")
   a.over(href="#")
    h2 {{lorem | cut:true:50:'...'}}
    p {{lorem | cut:true:180:'...'}}
    span <i class="fa fa-plus fa-2x"></i>
  article
   img(ph-img="380x240")
   a.over(href="#agencyprofile")
    h2 {{lorem | cut:true:50:'...'}}
    p {{lorem | cut:true:180:'...'}}
    span <i class="fa fa-plus fa-2x"></i>
  article
   img(ph-img="380x240")
   a.over(href="#agencyprofile")
    h2 {{lorem | cut:true:50:'...'}}
    p {{lorem | cut:true:180:'...'}}
    span <i class="fa fa-plus fa-2x"></i>
 div.s40
 div.columns
  article
   img(ph-img="380x240")
   a.over(href="#agencyprofile")
    h2 {{lorem | cut:true:50:'...'}}
    p {{lorem | cut:true:180:'...'}}
    span <i class="fa fa-plus fa-2x"></i>
  article
   img(ph-img="380x240")
   a.over(href="#agencyprofile")
    h2 {{lorem | cut:true:50:'...'}}
    p {{lorem | cut:true:180:'...'}}
    span <i class="fa fa-plus fa-2x"></i>
  article
   img(ph-img="380x240")
   a.over(href="#agencyprofile")
    h2 {{lorem | cut:true:50:'...'}}
    p {{lorem | cut:true:180:'...'}}
    span <i class="fa fa-plus fa-2x"></i>
 div.text-center
  ul.pagination
   li
    a(href="#")&laquo
   li
    a(href="#") 1
   li
    a(href="#") 2
   li
    a(href="#") 3
   li
    a(href="#") 4
   li
    a(href="#")&raquo














