figure.banner
  <img src="./assets/img/banner.jpg" alt="">
  div.overBanner
  div.wrapper
   div.textBanner
    {{lorem | cut:true:40:' '}}
    b {{lorem | cut:true:50:' '}}
   a.btnWhite learn more
   div.w40
   a.btnBlue register here
  div.bulletNav
   a.active(title="Banner")
   a(title="Mapa")
   a(title="RSS")
section.map
 div.wrapper
  h2 Find Projects
   b on the Map
 div#map
div.wrapper
 section.rss
 aside.twitter
section.contentBottom
 div.wrapper
  p {{lorem | cut:true:100:' '}}
  a.btnYellow Contact Us
script
 $('#map').gmap3({
   map: {
     options: {
     center: {lat: 4.659634, lng: -74.062035},
     zoom: 1,
     mapTypeControlOptions: {
     mapTypeIds: [google.maps.MapTypeId.ROADMAP, 'style1']
     }
     }
     },
     styledmaptype:{
     id: "style1",
     options:{
     name: "Blue Map"
     },
     callback: function(){
     $(this).gmap3("get").setMapTypeId('style1');
     },
     styles: [
     {
     stylers: [
     { lightness: 1 },
     { saturation: -48 },
     { hue: "#06a1fe"}
     ]
     }
     ]
     },
     });













