section.wrapper.register
 h1 register
 div.descriptionBox
  p {{lorem | cut:true:480:' '}}
 div.accordion
  h2 Security Agency
  article
   p {{lorem | cut:true:480:' '}}
   p {{lorem | cut:true:480:' '}}
   a.scrollClick1
   a.btnYellow Belong
   div.formBelong
    h3#scrollDown1 {{lorem | cut:true:80:' '}}
    p {{lorem | cut:true:480:' '}}
    form(role='form')
     div.row
      div.col-md-6
       div.form-group
        label First name
        input.form-control(placeholder='First name', type='text')
       div.form-group
        label Organization name
        input.form-control(placeholder='Organization name', type='text')
       div.form-group
        label Position
        input.form-control(placeholder='Position', type='text')
       div.form-group
        label Web site
        input.form-control(placeholder='Web site', type='text')
       div.form-group
        label Zip code
        input.form-control(placeholder='Zip code', type='text')
       div.form-group
        label Add photo/logo
        input.form-control(type='file')
        small {{lorem | cut:true:40:' '}}
       div.form-group
        label Password
        input.form-control(placeholder='Password', type='password')
      div.col-md-6
       div.form-group
        label Surname
        input.form-control(placeholder='Surname', type='text')
       div.form-group
        label E-mail
        span *
        input.form-control(placeholder='E-mail', type='text')
       div.form-group
        label Telephone
        input.form-control(placeholder='Telephone', type='text')
       div.form-group
        label Twitter
        input.form-control(placeholder='Twitter', type='text', style='margin: 0 0 9rem')
       div.form-group
        label Add documents
        input.form-control(type='file')
        small {{lorem | cut:true:40:' '}}
       div.form-group
        label Confirm password
        input.form-control(placeholder='Password', type='Confirm password')
     button.btnYellow(type="button", ng-click="enableModal()") Register
     div.showConfirm(ng-show="showConfirm")
      div.alert.alert-success {{lorem | cut:true:40:' '}} <b>{{lorem | cut:true:40:' '}}</b> {{lorem | cut:true:40:' '}}<i class="fa fa-thumbs-o-up"></i>
  h2 Security Supplier
  article
   p {{lorem | cut:true:480:' '}}
   p {{lorem | cut:true:480:' '}}
   a.scrollClick2
   a.btnYellow Belong
   div.formBelong
    h3#scrollDown2 {{lorem | cut:true:80:' '}}
    p {{lorem | cut:true:480:' '}}
    form(role='form')
     div.row
      div.col-md-6
       div.form-group
        label First name
        input.form-control(placeholder='First name', type='text')
       div.form-group
        label Organization name
        input.form-control(placeholder='Organization name', type='text')
       div.form-group
        label Position
        input.form-control(placeholder='Position', type='text')
       div.form-group
        label Web site
        input.form-control(placeholder='Web site', type='text')
       div.form-group
        label Zip code
        input.form-control(placeholder='Zip code', type='text')
       div.form-group
        label Add photo/logo
        input.form-control(type='file')
        small {{lorem | cut:true:40:' '}}
       div.form-group
        label Password
        input.form-control(placeholder='Password', type='password')
      div.col-md-6
       div.form-group
        label Surname
        input.form-control(placeholder='Surname', type='text')
       div.form-group
        label E-mail
        span *
        input.form-control(placeholder='E-mail', type='text')
       div.form-group
        label Telephone
        input.form-control(placeholder='Telephone', type='text')
       div.form-group
        label Twitter
        input.form-control(placeholder='Twitter', type='text', style='margin: 0 0 9rem')
       div.form-group
        label Add documents
        input.form-control(type='file')
        small {{lorem | cut:true:40:' '}}
       div.form-group
        label Confirm password
        input.form-control(placeholder='Password', type='Confirm password')
     button.btnYellow(type="button", ng-click="enableModal()") Register
     div.showConfirm(ng-show="showConfirm")
      div.alert.alert-success {{lorem | cut:true:40:' '}} <b>{{lorem | cut:true:40:' '}}</b> {{lorem | cut:true:40:' '}}<i class="fa fa-thumbs-o-up"></i>
  h2 Security Supplier
  article
   p {{lorem | cut:true:480:' '}}
   p {{lorem | cut:true:480:' '}}
   a.scrollClick3
   a.btnYellow Belong
   div.formBelong
    h3#scrollDown3 {{lorem | cut:true:80:' '}}
    p {{lorem | cut:true:480:' '}}
    form(role='form')
     div.row
      div.col-md-6
       div.form-group
        label First name
        input.form-control(placeholder='First name', type='text')
       div.form-group
        label Organization name
        input.form-control(placeholder='Organization name', type='text')
       div.form-group
        label Position
        input.form-control(placeholder='Position', type='text')
       div.form-group
        label Web site
        input.form-control(placeholder='Web site', type='text')
       div.form-group
        label Zip code
        input.form-control(placeholder='Zip code', type='text')
       div.form-group
        label Add photo/logo
        input.form-control(type='file')
        small {{lorem | cut:true:40:' '}}
       div.form-group
        label Password
        input.form-control(placeholder='Password', type='password')
      div.col-md-6
       div.form-group
        label Surname
        input.form-control(placeholder='Surname', type='text')
       div.form-group
        label E-mail
        span *
        input.form-control(placeholder='E-mail', type='text')
       div.form-group
        label Telephone
        input.form-control(placeholder='Telephone', type='text')
       div.form-group
        label Twitter
        input.form-control(placeholder='Twitter', type='text', style='margin: 0 0 9rem')
       div.form-group
        label Add documents
        input.form-control(type='file')
        small {{lorem | cut:true:40:' '}}
       div.form-group
        label Confirm password
        input.form-control(placeholder='Password', type='Confirm password')
     button.btnYellow(type="button", ng-click="enableModal()") Register
     div.showConfirm(ng-show="showConfirm")
      div.alert.alert-success {{lorem | cut:true:40:' '}} <b>{{lorem | cut:true:40:' '}}</b> {{lorem | cut:true:40:' '}}<i class="fa fa-thumbs-o-up"></i>
  h2 Security Supplier
  article
   p {{lorem | cut:true:480:' '}}
   p {{lorem | cut:true:480:' '}}
   a.scrollClick4
   a.btnYellow Belong
   div.formBelong
    h3#scrollDown4 {{lorem | cut:true:80:' '}}
    p {{lorem | cut:true:480:' '}}
    form(role='form')
     div.row
      div.col-md-6
       div.form-group
        label First name
        input.form-control(placeholder='First name', type='text')
       div.form-group
        label Organization name
        input.form-control(placeholder='Organization name', type='text')
       div.form-group
        label Position
        input.form-control(placeholder='Position', type='text')
       div.form-group
        label Web site
        input.form-control(placeholder='Web site', type='text')
       div.form-group
        label Zip code
        input.form-control(placeholder='Zip code', type='text')
       div.form-group
        label Add photo/logo
        input.form-control(type='file')
        small {{lorem | cut:true:40:' '}}
       div.form-group
        label Password
        input.form-control(placeholder='Password', type='password')
      div.col-md-6
       div.form-group
        label Surname
        input.form-control(placeholder='Surname', type='text')
       div.form-group
        label E-mail
        span *
        input.form-control(placeholder='E-mail', type='text')
       div.form-group
        label Telephone
        input.form-control(placeholder='Telephone', type='text')
       div.form-group
        label Twitter
        input.form-control(placeholder='Twitter', type='text', style='margin: 0 0 9rem')
       div.form-group
        label Add documents
        input.form-control(type='file')
        small {{lorem | cut:true:40:' '}}
       div.form-group
        label Confirm password
        input.form-control(placeholder='Password', type='Confirm password')
     button.btnYellow(type="button", ng-click="enableModal()") Register
     div.showConfirm(ng-show="showConfirm")
      div.alert.alert-success {{lorem | cut:true:40:' '}} <b>{{lorem | cut:true:40:' '}}</b> {{lorem | cut:true:40:' '}}<i class="fa fa-thumbs-o-up"></i>
  h2 Security Supplier
  article
   p {{lorem | cut:true:480:' '}}
   p {{lorem | cut:true:480:' '}}
   a.scrollClick5
   a.btnYellow Belong
   div.formBelong
    h3#scrollDown5 {{lorem | cut:true:80:' '}}
    p {{lorem | cut:true:480:' '}}
    form(role='form')
     div.row
      div.col-md-6
       div.form-group
        label First name
        input.form-control(placeholder='First name', type='text')
       div.form-group
        label Organization name
        input.form-control(placeholder='Organization name', type='text')
       div.form-group
        label Position
        input.form-control(placeholder='Position', type='text')
       div.form-group
        label Web site
        input.form-control(placeholder='Web site', type='text')
       div.form-group
        label Zip code
        input.form-control(placeholder='Zip code', type='text')
       div.form-group
        label Add photo/logo
        input.form-control(type='file')
        small {{lorem | cut:true:40:' '}}
       div.form-group
        label Password
        input.form-control(placeholder='Password', type='password')
      div.col-md-6
       div.form-group
        label Surname
        input.form-control(placeholder='Surname', type='text')
       div.form-group
        label E-mail
        span *
        input.form-control(placeholder='E-mail', type='text')
       div.form-group
        label Telephone
        input.form-control(placeholder='Telephone', type='text')
       div.form-group
        label Twitter
        input.form-control(placeholder='Twitter', type='text', style='margin: 0 0 9rem')
       div.form-group
        label Add documents
        input.form-control(type='file')
        small {{lorem | cut:true:40:' '}}
       div.form-group
        label Confirm password
        input.form-control(placeholder='Password', type='Confirm password')
     button.btnYellow(type="button", ng-click="enableModal()") Register
     div.showConfirm(ng-show="showConfirm")
      div.alert.alert-success {{lorem | cut:true:40:' '}} <b>{{lorem | cut:true:40:' '}}</b> {{lorem | cut:true:40:' '}}<i class="fa fa-thumbs-o-up"></i>











