.w5 {
  width: 0.5rem;
  display: inline-block;
  vertical-align: middle;
}
.w10 {
  width: 1rem;
  display: inline-block;
  vertical-align: middle;
}
.w20 {
  width: 2rem;
  display: inline-block;
  vertical-align: middle;
}
.w30 {
  width: 3rem;
  display: inline-block;
  vertical-align: middle;
}
.w40 {
  width: 4rem;
  display: inline-block;
  vertical-align: middle;
}
.w50 {
  width: 5rem;
  display: inline-block;
  vertical-align: middle;
}
.clear {
  clear: both;
  width: 100%;
}
.s5 {
  height: 0.5rem;
}
.s10 {
  height: 1rem;
}
.s20 {
  height: 2rem;
}
.s30 {
  height: 3rem;
}
.s40 {
  height: 4rem;
}
.s50 {
  height: 5rem;
}
.s60 {
  height: 6rem;
}
.clear {
  clear: both;
}
.tCenter {
  text-align: center;
}
input[type="file"] {
  display: block;
  width: 100%;
  height: 44px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
input[type="file"]:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);
}
.b1 {
  border: thin solid #f00;
}
.s(value) {
  height: valuerem;
}
textarea {
  padding: 1rem;
}
.borderfix {
  border: 0.1rem solid rgba(0,0,0,0);
}
input::-webkit-input-placeholder {
  color: $greyDark;
  font-family: brandon_grotesquelight;
  color: #000;
}
input::-moz-placeholder {
  color: $greyDark;
  font-family: brandon_grotesquelight;
  color: #000;
}
input:-ms-input-placeholder {
  color: $greyDark;
  font-family: brandon_grotesquelight;
  color: #000;
}
input:-moz-placeholder {
  color: $greyDark;
  font-family: brandon_grotesquelight;
  color: #000;
}
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  border: none;
  list-style: none;
  text-decoration: none;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  display: block;
  -webkit-transition: all cubic-bezier(0.94, 0.94, 0.04, 0.98) 0.5s;
  transition: all cubic-bezier(0.94, 0.94, 0.04, 0.98) 0.5s;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}
p {
  font-family: brandon_grotesque_regularRg;
  font-size: 1.6rem;
  line-height: 120%;
  font-weight: normal;
  color: #717a85;
  margin: 0 0 1rem;
}
p:last-child {
  margin: 0;
}
ul li {
  list-style: none;
}
header {
  width: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 12rem;
}
.wrapper {
  position: relative;
  max-width: 120rem;
  margin: 0 auto 0;
  width: 120rem;
}
main {
  margin: 1rem 0 4rem;
}
figure {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #125480;
  text-transform: uppercase;
  font-family: brandon_grotesquebold;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}
h1 {
  font-size: 2.4rem;
  margin: 0 0 2rem;
}
h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1.6rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.4rem;
}
h6 {
  font-size: 1.3rem;
}
article {
  overflow: hidden;
}
h2 {
  padding: 0 0 2rem;
  color: #125480;
}
footer {
  position: relative;
  width: 100%;
  height: 18rem;
  background: #28353d;
}
footer div.wrapper div:nth-of-type(1) {
  display: inline-block;
  vertical-align: middle;
  width: 32%;
  height: 4.5rem;
  vertical-align: middle;
  margin: 7.5rem 0 0 0;
}
footer div.wrapper div:nth-of-type(1) a {
  display: inline-block;
  vertical-align: middle;
  background: rgba(255,255,255,0.5);
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 100%;
  margin: 0 0 0 0.8rem;
  text-align: center;
}
footer div.wrapper div:nth-of-type(1) a:hover {
  background: #fff;
}
footer div.wrapper div:nth-of-type(1) a i {
  color: #28353d;
  margin: 1.2rem auto 0;
}
footer div.wrapper div:nth-of-type(2) {
  display: inline-block;
  vertical-align: middle;
  width: 40%;
  height: 4.5rem;
  vertical-align: middle;
  margin: 7.5rem 0 0 0;
  font-size: 1.6rem;
  line-height: 4.5rem;
  font-weight: normal;
  font-family: brandon_grotesquemedium;
  color: #b6b6b6;
  text-transform: uppercase;
}
footer div.wrapper div:nth-of-type(2) span {
  color: #eaac00;
}
@font-face {
  font-family: brandon_grotesquemedium;
  font-style: normal;
  src: url("../fonts/brandon_med-webfont.ttf");
}
@font-face {
  font-family: brandon_grotesque_regularRg;
  font-style: normal;
  src: url("../fonts/brandon_reg-webfont.ttf");
}
@font-face {
  font-family: brandon_grotesquebold;
  font-style: normal;
  src: url("../fonts/brandon_bld-webfont.ttf");
}
@font-face {
  font-family: brandon_grotesquelight;
  font-style: normal;
  src: url("../fonts/brandon_light-webfont.ttf");
}
body {
  background: #fff;
  font-family: brandon_grotesquemedium;
}
header div:nth-of-type(1) {
  width: 16.5rem;
  height: 16.5rem;
  position: absolute;
  top: 0rem;
  left: 50%;
  margin: 0 0 0 -8.75rem;
  z-index: 9;
  background: #fff;
  border-radius: 100%;
}
header div:nth-of-type(1) a {
  background: url("../img/logo.png");
  display: block;
  position: relative;
  margin: 1.5rem auto 0;
  width: 13.5rem;
  height: 13.5rem;
}
header .wrapper > ul {
  z-index: 99;
  text-align: center;
}
header .wrapper > ul > li {
  display: inline-block;
  vertical-align: middle;
}
header .wrapper > ul > li > a {
  display: block;
  color: #808080;
  font-size: 1.3rem;
  line-height: 12rem;
  font-weight: normal;
  height: 12rem;
  padding: 0 2.5rem;
  text-transform: uppercase;
  border-top: 0.4rem solid #fff;
}
header .wrapper > ul > li > a:hover,
header .wrapper > ul > li > a.activeMenu {
  color: #06a1fe;
  text-decoration: none;
  border-top: 0.4rem solid #06a1fe;
}
header .wrapper > ul > li:nth-of-type(5) {
  margin: 0 0 0 15rem;
}
header .wrapper > ul > li:nth-of-type(1) {
  margin: 0 0 0 -6rem;
}
figure.banner {
  width: 100%;
  height: 52.5rem;
  cursor: pointer;
  position: relative;
  margin: 0;
  padding: 0;
}
figure.banner img {
  -webkit-filter: blur(0.3rem);
  filter: blur(0.3rem);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
figure.banner div.overBanner {
  width: 100%;
  height: 52.5rem;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/overBanner.png");
}
figure.banner div.wrapper {
  position: absolute;
  top: 0;
  left: 50%;
  text-align: center;
  margin: 0 0 0 -60rem;
  max-width: 120rem;
}
figure.banner div.wrapper div.textBanner {
  color: #fff;
  font-size: 4.5rem;
  line-height: 120%;
  font-weight: normal;
  border-top: 0.1rem solid #fff;
  border-bottom: 0.1rem solid #fff;
  padding: 1.5rem 0;
  max-width: 120rem;
  font-family: brandon_grotesquelight;
  text-transform: uppercase;
  text-align: center;
  margin: 15rem auto 6rem;
  position: relative;
}
figure.banner div.wrapper b {
  font-family: brandon_grotesquemedium;
  display: inline-block;
  vertical-align: middle;
}
a.btnWhite {
  border: 0.2rem solid #fff;
  padding: 1.5rem 2rem;
  font-size: 1.6rem;
  line-height: 100%;
  font-weight: normal;
  color: #fff;
  text-transform: uppercase;
  width: 20rem;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
a.btnWhite:hover {
  text-decoration: none;
}
a.btnWhite:hover {
  border-radius: 1rem;
}
a.btnBluespin {
  border: 0.2rem solid #fff;
  padding: 1.5rem 2rem;
  font-size: 1.6rem;
  line-height: 100%;
  font-weight: normal;
  color: #fff;
  text-transform: uppercase;
  width: 20rem;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
a.btnBluespin:hover {
  text-decoration: none;
}
a.btnBluespin:hover {
  border-radius: 1rem;
}
a.btnBlue {
  border: 0.2rem solid #23a8ff;
  background: #23a8ff;
  padding: 1.5rem 2rem;
  font-size: 1.6rem;
  line-height: 100%;
  font-weight: normal;
  color: #fff;
  text-transform: uppercase;
  width: 20rem;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
a.btnBlue:hover {
  text-decoration: none;
}
a.btnBlue:hover {
  -webkit-transform: rotateX(360deg);
  transform: rotateX(360deg);
  border: 0.2rem solid #125480;
  background: #125480;
}
a.btnYellow,
button.btnYellow {
  border: 0.2rem solid #eaac00;
  background: #eaac00;
  padding: 1.5rem 2rem;
  font-size: 1.6rem;
  line-height: 100%;
  font-weight: normal;
  color: #fff;
  text-transform: uppercase;
  width: 20rem;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
a.btnYellow:hover,
button.btnYellow:hover {
  text-decoration: none;
}
a.btnYellow:hover,
button.btnYellow:hover {
  border: 0.2rem solid #06a1fe;
  background: #06a1fe;
}
figure.banner::before {
  content: '';
  width: 4rem;
  height: 4rem;
  background: #fff;
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 9999;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  margin: 0 0 -2.5rem -2rem;
}
figure.banner::after {
  content: '\f107';
  width: 4rem;
  height: 2rem;
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 9999;
  font-size: 1.8rem;
  line-height: 100%;
  font-weight: lighter;
  color: #06a1fe;
  margin: 0 0 -0.5rem -2rem;
  font-family: FontAwesome;
  text-align: center;
}
div.bulletNav {
  position: absolute;
  top: 40%;
  left: 3%;
  width: 2rem;
  height: 4rem;
}
div.bulletNav a {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  background: rgba(255,255,255,0.8);
  margin: 0 0 1rem;
}
div.bulletNav a.active {
  border: 0.3rem solid #fff;
  background: rgba(255,255,255,0);
}
section.map {
  position: relative;
  margin: 8rem 0 0;
}
section.map h2 {
  color: #717a85;
  font-size: 2.4rem;
  line-height: 100%;
  font-weight: normal;
  text-transform: uppercase;
  font-family: brandon_grotesquelight;
  text-align: center;
}
section.rss {
  display: inline-block;
  vertical-align: middle;
  width: 48%;
  height: 44rem;
  margin: 8rem 0;
  border: 0.1rem solid #f00;
}
aside.twitter {
  display: inline-block;
  vertical-align: middle;
  width: 48%;
  height: 44rem;
  border: 0.1rem solid #00f;
}
section.contentBottom {
  width: 100%;
  height: 14.5rem;
  background: #e9e9e9;
}
section.contentBottom p {
  font-size: 2.4rem;
  line-height: 14.5rem;
  font-weight: normal;
  color: #8c8c8c;
  font-family: brandon_grotesque_regularRg;
}
section.contentBottom a {
  position: absolute;
  bottom: 5rem;
  right: 1rem;
  text-align: center;
}
.aboutus article {
  padding: 1rem 1rem 2rem;
  margin: 4rem 0 0;
  background-image: -webkit-linear-gradient(top, #fff, #fff);
  background-image: linear-gradient(top, #fff, #fff);
  border-bottom: thin dotted #717a85;
}
.aboutus article img {
  width: 40rem;
  height: 24rem;
  border: 0.2rem solid #b6b6b6;
  float: left;
}
.aboutus article h2 {
  float: right;
  width: 76rem;
  height: auto;
}
.aboutus article p {
  float: right;
  width: 76rem;
  height: auto;
}
.ourservices article {
  padding: 1rem 1rem 3rem;
  margin: 4rem 0 0;
  background-image: -webkit-linear-gradient(top, #fff, #fffff1);
  background-image: linear-gradient(top, #fff, #fffff1);
  position: relative;
}
.ourservices article::before {
  content: '';
  width: 1rem;
  height: 1rem;
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 9999;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  margin: 0 0 -0.5rem -0.5rem;
}
.ourservices article:nth-of-type(odd) {
  border-bottom: 0.3em solid #eaac00;
}
.ourservices article:nth-of-type(odd)::before {
  background: #eaac00;
}
.ourservices article:nth-of-type(even) {
  border-bottom: 0.3em solid #06a1fe;
}
.ourservices article:nth-of-type(even)::before {
  background: #06a1fe;
}
.descriptionBox {
  background: #717a85;
  padding: 2rem 2rem 1rem;
  position: relative;
  overflow: hidden;
}
.descriptionBox p {
  color: #fff;
  font-size: 1.8rem;
  line-height: 120%;
  font-weight: normal;
  font-family: brandon_grotesquelight;
}
.descriptionBox::before {
  content: '';
  width: 2rem;
  height: 2rem;
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 9999;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  margin: -1rem 0 0 -1rem;
  background: #fff;
}
.register div.accordion {
  margin: 2rem 0 0;
}
.register div.accordion h2 {
  cursor: pointer;
  -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  z-index: 9999;
  color: #fff;
  background: #125480;
  height: 4rem;
  line-height: 4rem;
  padding: 0 0 0 3rem !important;
  position: relative;
}
.register div.accordion h2:hover {
  padding: 0 0 0 3.5rem;
  background: #0c3855;
}
.register div.accordion article {
  border-bottom: thin dotted #717a85;
  height: 0;
  -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.register div.accordion article p {
  text-align: justify;
  padding: 2rem 1rem 0rem;
}
.register div.accordion article a {
  text-align: center;
  float: right;
  margin: 0 0 1.5rem;
  position: relative;
}
.closeAccordion {
  height: 0;
}
.openAccordion {
  height: 24rem !important;
}
.openFormbelong {
  height: 100rem !important;
}
.activeAccordion {
  background: #06a1fe !important;
  padding: 0 0 0 3.5rem !important;
}
.activeAccordion::before {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.register h2::before {
  content: '\f0da';
  position: absolute;
  left: 1.5rem;
  top: 1rem;
  color: #fff;
  text-align: center;
  font-family: FontAwesome;
  font-size: 1.8rem;
  line-height: 100%;
  font-weight: normal;
}
div.formBelong {
  border-top: thin dotted #717a85;
  border-bottom: thin dotted #717a85;
  float: left;
  margin: 0 0 0;
  position: relative;
  padding: 2rem;
}
div.formBelong p {
  padding: 2rem 0 !important;
}
div.formBelong form label {
  color: #0c3855;
}
div.formBelong form span {
  color: #f00;
  margin: 0 0 0 1rem;
}
div.formBelong form small {
  font-size: 1.6rem;
  line-height: 100%;
  font-weight: normal;
  display: inline-block;
  vertical-align: middle;
  margin: 1rem 0 0;
  font-family: brandon_grotesquelight;
  color: #28353d;
}
div.formBelong form button {
  float: right;
}
a.scrollClick {
  height: 0;
  width: 0;
}
div.showConfirm {
  max-width: 90rem;
  cursor: pointer;
}
div.showConfirm i {
  float: right;
  font-size: 2rem;
  line-height: 100%;
  font-weight: normal;
  margin: 0.2rem 1rem 0 1rem;
}
.directories form label {
  color: #0c3855;
}
.directories div.columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.directories div.columns article {
  -webkit-flex-flow: row wrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  overflow: hidden;
  position: relative;
  margin: 0 1rem;
}
.directories div.columns article img {
  margin: 0 0 0rem;
  cursor: pointer;
  border: 0.2rem solid #b6b6b6;
}
.directories div.columns article a.over {
  position: absolute;
  bottom: -18rem;
  left: 0;
  background: rgba(0,0,0,0.8);
  padding: 2rem;
  width: 100%;
  height: 24.8rem;
}
.directories div.columns article a.over:hover {
  text-decoration: none;
}
.directories div.columns article a.over h2 {
  color: #fff;
}
.directories div.columns article a.over p {
  color: #fff;
}
.directories div.columns article a.over span {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  background: #fff;
  display: block;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  margin: 0 0 0 -2rem;
  text-align: center;
}
.directories div.columns article a.over span:hover {
  -webkit-transform: rotateX(360deg);
  transform: rotateX(360deg);
}
.directories div.columns article a.over span i {
  color: rgba(0,0,0,0.8);
  margin: 0.8rem auto 0;
}
.agencyprofile img {
  display: inline-block;
  vertical-align: middle;
  border: 0.2rem solid #b6b6b6;
  vertical-align: top;
}
.agencyprofile .profileItems {
  display: inline-block;
  vertical-align: middle;
  width: 73rem;
  height: auto;
  margin: 0 0 0 2rem;
}
.agencyprofile .profileItems .labelProfile {
  font-family: brandon_grotesquebold;
  float: left;
  width: auto;
  margin: 0 2rem 0 0;
  padding: 1.5rem 0 0;
  font-size: 1.6rem;
  line-height: 100%;
  font-weight: normal;
  color: #0c3855;
  height: 4.4rem;
}
.agencyprofile .profileItemslarge {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: auto;
}
.agencyprofile .profileItemslarge .labelProfile {
  font-family: brandon_grotesquebold;
  float: left;
  width: auto;
  margin: 0 2rem 0 0;
  padding: 1.5rem 0 0;
  font-size: 1.6rem;
  line-height: 100%;
  font-weight: normal;
  color: #0c3855;
  height: 4.4rem;
}
.editable-click,
a.editable-click {
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
  border-bottom: none !important;
  border: none !important;
  padding: 1.5rem 0 0;
  color: #28353d;
  font-size: 1.6rem;
  line-height: 100%;
  font-weight: normal;
  font-family: brandon_grotesquelight;
  -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  cursor: pointer;
}
.editable-click:hover,
a.editable-click:hover {
  color: #06a1fe;
}
.editable-empty,
.editable-empty:hover,
.editable-empty:focus {
  color: #eaac00;
  padding: 1.5rem 0 0;
  font-size: 1.6rem;
  line-height: 100%;
  font-weight: normal;
  font-family: brandon_grotesquelight;
}
input.editable-input {
  display: block;
  width: 100%;
  height: 44px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  min-width: 30rem;
  margin: 0.5rem 0;
}
input.editable-input:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);
}
textarea.editable-input {
  display: block;
  width: 100%;
  height: 44px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  min-width: 50rem;
  min-height: 8rem;
  overflow: hidden;
  margin: 0.5rem 0 1rem;
}
textarea.editable-input:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);
}
.editable-wrap .editable-buttons button {
  width: 3.4rem;
  height: 3.4rem;
  position: relative;
  border-radius: 1rem;
}
.editable-wrap .editable-buttons button:nth-of-type(1) {
  background: #5cb85c;
  color: #5cb85c;
}
.editable-wrap .editable-buttons button:nth-of-type(2) {
  background: #d9534f;
  color: #d9534f;
}
.editable-wrap .editable-buttons button:nth-of-type(1)::before {
  content: '\f00c';
  width: 3.4rem;
  height: 3.4rem;
  font-size: 1.6rem;
  line-height: 3.4rem;
  font-weight: normal;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  font-family: FontAwesome;
  text-align: center;
}
.editable-wrap .editable-buttons button:nth-of-type(2)::before {
  content: '\f00d';
  width: 3.4rem;
  height: 3.4rem;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 1.6rem;
  line-height: 3.4rem;
  font-weight: normal;
  color: #fff;
  font-family: FontAwesome;
  text-align: center;
}
.profileItems div,
.profileItemslarge div {
  border-bottom: 0.1rem dotted #717a85;
}
.editable-wrap .editable-buttons {
  margin: 0.5rem 0 0;
}
.linkDocuments {
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
  border-bottom: none !important;
  border: none !important;
  padding: 0 0 2rem;
  border: 0.1rem solid #f00;
}
.linkDocuments a {
  width: 91%;
  margin: 0.5rem 0 0 !important;
  float: right;
}
.linkDocuments a i {
  margin: 0 1rem 0 0;
}
.linkDocuments input[type="file"] {
  margin: 2rem 0;
  clear: both;
  float: left;
}
.vacancyList div.columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.vacancyList div.columns article {
  -webkit-flex-flow: row wrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  border-top: 0.1rem solid #fff;
  border-left: thin solid #b8bcc2;
  border-right: thin solid #b8bcc2;
  border-bottom: 0.4rem solid #eaac00;
  box-shadow: 0rem 0.5rem 2rem #fff;
  overflow: hidden;
  position: relative;
  padding: 2rem 1rem;
  margin: 0 1rem;
}
.vacancyList div.columns article h2 {
  text-align: center;
}
.vacancyList div.columns article b {
  padding: 0 1rem 0 0;
}
.vacancyList div.columns article a {
  border: 0.2rem solid #06a1fe;
  color: #06a1fe;
  text-align: center;
}
.vacancyList div.columns article a:hover {
  border: 0.2rem solid #125480;
  color: #125480;
}
.vacancyList div.columns article ul {
  width: 100%;
  margin: 2rem 0 0;
  float: left;
  clear: both;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}
.vacancyList div.columns article ul li {
  color: #717a85;
  padding: 0.5rem 1rem 0.5rem 0;
}
.vacancyList div.columns article:nth-of-type(2) {
  margin: 0 4rem;
  border-bottom: 0.4rem solid #0c3855;
}
.vacancyList div.columns article:hover {
  box-shadow: 0rem 0.1rem 0.5rem #b8bcc2;
}
form.formBox {
  position: relative;
  width: 100%;
  height: auto;
  padding: 2rem 2rem 1rem;
  background: #28353d;
}
form.formBox input {
  display: block;
  width: 100%;
  height: 44px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  display: inline-block;
  vertical-align: middle;
  font-size: 2rem;
  color: #717a85;
  font-family: brandon_grotesquelight;
}
form.formBox input:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);
}
form.formBox small {
  color: #fff;
  font-family: brandon_grotesquelight;
}
form.formBox button {
  width: 4.4rem;
  height: 4.4rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
  padding: 0;
  font-size: 1.2rem;
  line-height: 100%;
  font-weight: normal;
  -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
form.formBox button i {
  margin: 0rem 0 0;
}
form.formDate {
  position: relative;
  width: 100%;
  height: auto;
  padding: 2rem 2rem 1rem;
  background: #28353d;
}
form.formDate input {
  display: block;
  width: 100%;
  height: 44px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  display: inline-block;
  vertical-align: middle;
  font-size: 2rem;
  color: #717a85;
  font-family: brandon_grotesquelight;
}
form.formDate input:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);
}
form.formDate small {
  color: #fff;
  font-family: brandon_grotesquelight;
}
form.formDate button {
  width: 4.4rem;
  height: 4.4rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
  padding: 0;
  font-size: 1.2rem;
  line-height: 100%;
  font-weight: normal;
  -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
form.formDate button i {
  margin: 0rem 0 0;
}
.blog article {
  border-bottom: 0.3rem solid #0c3855;
  padding: 0 0 3rem;
}
.blog article .blogProfile {
  width: 30rem;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  vertical-align: top;
}
.blog article .blogContent {
  width: 87rem;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.blog article .blogContent a.facebook {
  background: #3066a2;
}
.blog article .blogContent a.facebook:hover {
  background: #14427e;
}
.blog article .blogContent a.twitter {
  background: #1d95c9;
}
.blog article .blogContent a.twitter:hover {
  background: #0a68ae;
}
.blogProfile img {
  border: 0.2rem solid #b8bcc2;
}
.blogProfile a:nth-of-type(1) {
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
  border-bottom: none !important;
  border: none !important;
}
.blogProfile a:nth-of-type(2) {
  color: #06a1fe;
  margin: 0 1rem;
  border-bottom: thin dotted #717a85;
}
.blogProfile a:nth-of-type(2) i {
  margin: 0 1rem 0 0;
}
.blogProfile a:nth-of-type(3) {
  color: #06a1fe;
  margin: 0 1rem;
  border-bottom: thin dotted #717a85;
}
.blogProfile a:nth-of-type(3) i {
  margin: 0 1rem 0 0;
}
.blogProfile a:nth-of-type(4) {
  color: #06a1fe;
  margin: 0 1rem;
  border-bottom: thin dotted #717a85;
}
.blogProfile a:nth-of-type(4) i {
  margin: 0 1rem 0 0;
}
.blogContent a.twitter,
.blogContent a.facebook {
  color: #fff;
  float: right;
  width: 2.5rem;
  height: 2.5rem;
  display: inline-block;
  vertical-align: middle;
  border-radius: 10%;
  text-align: center;
  margin: 0.4rem 0.5rem 0 0;
  -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.blogContent a.twitter i,
.blogContent a.facebook i {
  margin: 0.6rem 0 0;
  font-size: 1.6rem;
  line-height: 100%;
  font-weight: normal;
}
.blogContent a.twitter:hover,
.blogContent a.facebook:hover {
  -webkit-transform: translate(0rem, -0.1rem);
  -ms-transform: translate(0rem, -0.1rem);
  transform: translate(0rem, -0.1rem);
}
.blogCommentslist {
  border-left: 0.2rem solid #eaac00;
  padding: 0 0 0 3rem;
}
.blogCommentslist h3 {
  padding: 0 0 1rem;
}
.blogCommentslist p {
  padding: 0 0 1rem;
}
.blogUser {
  width: 100%;
  margin: 0 0 0.5rem;
}
.blogUser p {
  float: left;
  width: 100%;
  font-size: 1.2rem;
  line-height: 3.2rem;
  font-weight: normal;
  font-family: brandon_grotesque_regularRg;
  color: greyLight;
  border-top: thin solid #b8bcc2;
  border-bottom: thin solid #b8bcc2;
  padding: 0;
}
.blogUser p a {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 0rem;
}
.blogUser span {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.2rem;
  line-height: 100%;
  font-weight: normal;
  margin: 0 0 0 1.5rem;
}
form.blogComments {
  position: relative;
  overflow: hidden;
  background: #f1f1f1;
  border: thin solid #b8bcc2;
  padding: 2rem 2rem 1rem;
}
form.blogComments textarea {
  float: right;
  max-width: 90rem;
  max-height: 20rem;
  min-width: 90rem;
  min-height: 20rem;
  overflow-x: hidden;
  border-bottom: 0.2rem solid #b8bcc2;
  -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  resize: none;
}
form.blogComments textarea:focus {
  border-bottom: 0.2rem solid #28353d;
}
form.blogComments button {
  width: 4rem;
  height: 4rem;
  float: right !important;
  font-size: 1rem;
  line-height: 4rem;
  font-weight: normal;
  padding: 0;
  -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
form.blogComments small {
  color: #717a85;
  line-height: 2rem;
  height: 3rem;
  margin: 1rem 0 0;
  float: left;
}
form.blogComments small i {
  vertical-align: middle;
}
.pagination {
  margin-top: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 0 !important;
  padding-top: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 0 !important;
}
.profileComments {
  width: 24rem;
  text-align: center;
  float: left;
}
.profileComments img {
  border: 0.2rem solid #fff;
}
.profileComments p {
  color: #717a85;
}
form.blogComments::after {
  content: '';
  width: 2rem;
  height: 2rem;
  background: #fff;
  display: block;
  position: absolute;
  top: 6rem;
  left: 27rem;
  z-index: 9999;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.tags {
  color: #23a8ff;
  margin: 0 1rem;
  font-family: brandon_grotesquebold;
  text-align: center;
}
.tags a {
  display: inline-block;
  vertical-align: middle;
  margin: 0 1rem;
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
  border-bottom: none !important;
  border: none !important;
}
.tags a:nth-of-type(odd) {
  font-size: 1.4rem;
  line-height: 120%;
  font-weight: normal;
}
.tags a:nth-of-type(even) {
  font-size: 2rem;
  line-height: 120%;
  font-weight: normal;
}
.calendarBox {
  width: 40%;
  float: left;
}
.calendarEvents {
  float: right;
  width: 58%;
}
.calendarEvents h2 {
  cursor: pointer;
  -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  z-index: 9999;
  color: #fff;
  background: #125480;
  height: 4rem;
  line-height: 4rem;
  padding: 0 0 0 3rem !important;
  position: relative;
}
.calendarEvents h2:hover {
  padding: 0 0 0 3.5rem;
  background: #0c3855;
}
.calendarEvents article {
  border-bottom: thin dotted #717a85;
  height: 0;
  -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.calendarEvents article p {
  text-align: justify;
  padding: 2rem 1rem 0rem;
}
.calendarEvents article a {
  text-align: center;
  float: right;
  margin: 0 1rem 1.5rem 0;
  position: relative;
}
.calendarEvents h2::before {
  content: '\f0da';
  position: absolute;
  left: 1.5rem;
  top: 1rem;
  color: #fff;
  text-align: center;
  font-family: FontAwesome;
  font-size: 1.8rem;
  line-height: 100%;
  font-weight: normal;
}
.contentDirectory .sliderBox {
  width: 46rem;
  float: left;
}
.contentDirectory .sliderBox ul li {
  height: 32rem;
}
.contentDirectory .contentBox {
  width: 69rem;
  float: right;
}
.sliderBox .bx-viewport {
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
  border-bottom: none !important;
  border: none !important;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  left: 0;
  box-shadow: 0, 0, 0 rgba(0,0,0,0);
}
.profileTabs #content1,
.profileTabs #content2,
.profileTabs #content3,
.profileTabs #content4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.profileTabs #content1 div,
.profileTabs #content2 div,
.profileTabs #content3 div,
.profileTabs #content4 div {
  -webkit-flex-flow: row wrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.profileTabs #content1 div:nth-of-type(2),
.profileTabs #content2 div:nth-of-type(2),
.profileTabs #content3 div:nth-of-type(2),
.profileTabs #content4 div:nth-of-type(2) {
  margin: 0 2rem;
}
.marco-mapa {
  height: 46.5rem;
  margin: 6rem auto 0;
  width: 100%;
  border: 0.1rem solid #f00;
}
