/*==================================
=            $PREDEFINED           =
==================================*/

black= #000000;
$white= #ffffff;
$gray= #a0a0a0;

$red= #aa0000;
$green= #00aa00;
$blue= #0000aa;

$yellow2= #aaaa00;
$cyan= #00aaaa;
$magenta= #aa00aa;

$facebook-1= #3066a2;
$facebook-2= #14427e;
$facebook-toolbar=#7A8EB8;

$twitter-1= #1d95c9;
$twitter-2= #0a68ae;

$weibo-1= #254555;
$weibo-2= #0F1D23;

$renren-1= #387BB5;
$renren-2= #31679C;


/*==================================
=            $GREYS           =
==================================*/

$grey = #717a85
$greyLight = $grey +50%
$greyDark = #28353d

$greySpin = #e9e9e9
$greyFade = #b6b6b6

$yellow = #eaac00

$blue = #06a1fe
$blueLight = #23a8ff
$blueDark = #23a8ff / 2
$blueFade = #23a8ff / 3

bgWhite(opacity)
 background rgba(255,255,255,opacity)

bgBlack(opacity)
 background rgba(0,0,0,opacity)


/*lighten(color, 10%)
darken(color, 10%)
saturate(color, 10%)
desaturate(color, 10%)*/

$success = #5cb85c
$danger = #d9534f






